{}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    display: flex;
    background-color: rgb(48, 51, 51);
    border-radius: 30px;

}

.undertekst {
    font-size: 20px;
    margin: 0px;
}
.logo {
max-width: 300px;
max-height: 300px;
border-radius: 30px;
padding: 10px;
}

h1 {
    padding: 30px;
    margin: 0px;
    font-style: none;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overskrift {
    padding: 30px;
    margin: 0px;
    font-style: none;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: bold;
    color: aliceblue;
    margin: 0;
}

body {
    background-color: rgb(103, 107, 109);
}

.hjemmesidebilde {
    max-width: 1200px;
}

.avsnittsoverskrift {
    padding: 0px;
    padding-left: 30px;
    margin: 0px;
    font-style: none;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}

.maskinvarebilder {
    max-width: 500px;
    max-height: 500px;
    border-radius: 30px;
}

.forsidebilde {
    border-radius: 30px;
    display: flex;
}

.produksjonQA {
    max-width: 1000px;
}
#outputBox {
    min-width: 200px;
    min-height: 100px;

    border-radius: 30px;
    text-align: center;
}

#inputText {
    min-width: 200px;
}